.nav{
	text-align:center;
	margin:0;
	padding:0;
}

.nav li {
  display:inline-block;
}

.nav li a{
  text-decoration:none;
  display:block;
  padding:4px;
}html, body, input, button {
  font-family: arial;
  font-size: 20px;
}
 
h1{
  text-align:center;
}
.todo__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.todo__item {
  padding: .5em .25em;
  border-bottom: solid 1px #eee;
  width:100%;
  position:relative;
}

.remove__item{
  float:right;
  cursor: pointer;
    border: 1px solid #ccc;
  padding: 2px;
  border-radius: 2px;
  margin:0 2px;
}
.todo__item:hover {
  background: #f7f7f7;
  
}

.todo__entry {
  border: solid 1px #ccc;
  padding: .25em .5em;
  border-radius: .2em;
  background: #f3f3f3;
  width: 100%;
  box-sizing: border-box;
}

.todo__button {
  border: 0;
  border-radius: .2em;
  background: #71B7FF;  
  color: #fff;
  padding: .25em .5em;
  margin: .5em 0;
  margin-right: .25em;
  cursor: pointer;
}

.todo__button:hover {
  background: #B2D8FF;
}

.edit__click{
  display:inline-block;
  cursor:pointer;
}

.toggle_todo{
  display:inline-block;
  float:right;
  display: inline-block;
  float: right;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 2px;
  border-radius: 2px;
  margin:0 2px;
}
.counter_app{
	text-align:center;
}

.number-container{
	display: inline-block;
	padding:4px;
	width:80px;
	height:80px;
	font-size:64px;
}

.buttons{
	width:80px;
	height:80px;
	border-radius:5px;
	border:0;
	font-size:64px;
}